/* CSS Reset */
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
ol,
ul {
	list-style: none;
}

html {
	height: 100%;
	background-image: url(./img/background-img.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	line-height: 1.5em;
}

@media only screen and (max-width: 500px) {
	button:focus,
	input:focus {
		outline: none !important;
	}
}

body {
	font-family: Helvetica, Candara;
}

/* color scheme
red: E63946
white: F1FAEE
light blue: A8DADC
med blue: 457B9D
dark blue: 1D3557
*/

/* Reusable CSS */

.container {
	margin: 16px auto;
	width: 600px;
	height: 300px;
	text-align: center;
	border: 1px solid black;
	border-radius: 10px;
	box-shadow: 4px 4px 2px 1px rgba(29, 53, 87, 0.2);
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto auto;
	grid-template-areas:
		'input input buttons'
		'input input buttons';
}

@media only screen and (max-width: 500px) {
	.container {
		width: 90vw;
		height: auto;
		margin: auto;
		margin-top: 1em;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto auto;
		grid-template-areas:
			'buttons'
			'input';
	}
}

@media only screen and (max-width: 500px) {
	#foodSection {
		width: 90vw;
	}
}

@media only screen and (max-width: 500px) {
	.mainCardInput {
		border-bottom-right-radius: 10px;
		width: 100vw;
		grid-area: input;
	}
}

.sectionHeader {
	color: #f1faee;
	background-color: #457b9d;
	border-top-left-radius: 10px;
}

@media only screen and (max-width: 500px) {
	.sectionHeader {
		border-top-left-radius: 0px;
	}
}

.errorMessage {
	font-weight: 700;
	color: #e63946;
}

.deleteListItem {
	color: #e63946;
	background-color: #f1faee;
	font-size: 18px;
	margin-left: 16px;
	border: none;
}

.deleteListItem:hover {
	color: #e41526;
}

.saveButton {
	align-content: center;
	margin: auto;
	font-size: 18px;
	font-weight: 700;
	color: #f1faee;
	background-color: #1d3557;
	border-radius: 15px;
	height: 30px;
	width: 35%;
	grid-row-start: 2;
	grid-row-end: 3;
	transition-property: background-color #1d3557;
	transition-duration: 0.25s;
}

.saveButton:hover {
	font-size: 19px;
}

.saveButton:disabled {
	background-color: #457b9d;
	cursor: not-allowed;
}

.mainCardInput {
	background-color: #f1faee;
	border-bottom-left-radius: 10px;
	height: 261px;
	display: grid;
	grid-template-rows: 226px 35px;
}

@media only screen and (max-width: 500px) {
	.mainCardInput {
		width: 90vw;
		border-bottom-right-radius: 10px;
	}
}

.textInputContainer,
#poopInputContainer,
#sleepInputContainer {
	width: 400px;
	grid-row-start: 1;
	grid-row-end: 2;
}

@media only screen and (max-width: 500px) {
	.textInputContainer,
	#poopInputContainer,
	#sleepInputContainer {
		width: 90vw;
		grid-row-start: 1;
		grid-row-end: 2;
	}
}

/* Nav Bar */

.App-header {
	color: #f1faee;
	background-color: #1d3557;
	width: auto;
}

.App-header h1 {
	display: inline;
	text-align: left;
}

@media only screen and (max-width: 500px) {
	.App-header h1 {
		font-size: 1.5;
	}
}

.App-header a {
	color: #f1faee;
	text-decoration: none;
}

.App-header ul {
	display: inline;
	float: right;
	margin-right: 1em;
}

.App-header li {
	display: inline;
	padding: 0px 10px;
}

/* Landing page */

.landingContainer h2 {
	margin-bottom: 1em;
}

.landingContainer hr {
	border: 0;
	height: 0; /* Firefox... */
	box-shadow: 0 0 10px 1px #1d3557;
	width: 50%;
	margin: auto;
}

#heroContainer {
	height: 100vh;
	width: auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-template-areas:
		'. . . . .'
		'. hd hd . .'
		'. . . . .'
		'. . . btn btn';
}

#heroContainer h1 {
	color: #1d3557;
	text-shadow: 0.2em 0.2em 0.2em rgba(29, 53, 87, 0.4);
	grid-area: hd;
}

#btnContainer {
	grid-area: btn;
}

.heroBtns {
	display: inline-block;
	font-size: large;
	font-weight: 700;
	color: #1d3557;
	background-color: #f1faee;
	border-radius: 17px;
	height: 2.7em;
	margin: 0 1em 0 1em;
	width: 35%;
}

.landingAbout {
	background-color: #f1faee;
	color: #1d3557;
	text-align: center;
	padding: 4em;
	margin: 4em auto 4em auto;
	width: 80%;
	border: 1px solid #1d3557;
	border-radius: 0.4em;
	box-shadow: 0.2em 0.2em 0.2em 0.1em rgba(29, 53, 87, 0.4);
}

.landingList {
	background-color: #f1faee;
	color: #1d3557;
	text-align: center;
	padding: 4em;
	margin: 4em auto 4em auto;
	width: 80%;
	border: 1px solid #1d3557;
	border-radius: 0.4em;
	box-shadow: 0.2em 0.2em 0.2em 0.1em rgba(29, 53, 87, 0.4);
}

.landingList ul {
	list-style: disc;
	list-style-position: inside;
}

.landingSignUp {
	background-color: #f1faee;
	color: #1d3557;
	text-align: center;
	padding: 4em;
	margin: 4em auto 4em auto;
	width: 50%;
	border: 1px solid #1d3557;
	border-radius: 0.4em;
	box-shadow: 0.2em 0.2em 0.2em 0.1em rgba(29, 53, 87, 0.4);
}

.landingSignUp button {
	background-color: #1d3557;
	color: #f1faee;
	margin-top: 3em;
}

/* Login form */

/* color scheme
red: E63946
white: F1FAEE    
light blue: A8DADC
med blue: 457B9D
dark blue: 1D3557
*/

.loginContainer {
	color: #1d3557;
	margin: 16px auto;
	width: 325px;
	min-height: 500px;
	font-size: 18px;
	text-align: center;
	border: 1px solid black;
	border-radius: 10px;
	box-shadow: 4px 4px 2px 1px rgba(29, 53, 87, 0.2);
	background-color: #f1faee;
}

@media only screen and (max-width: 500px) {
	.loginContainer {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.loginMessage {
	font-size: 20px;
	font-weight: 700;
}

.registerForm .loginMessage {
	margin: 35px 0px 15px 0px;
}

.loginForm {
	display: flex;
	flex-direction: column;
	margin: auto;
	margin-top: 10px;
	width: 250px;
}

.loginForm input {
	background-color: #f1faee;
	border: 2px solid #1d3557;
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
	color: #1d3557;
	height: 25px;
	font-size: 17px;
	text-align: center;
	outline: none;
}

p.formError {
	height: 20px;
}

.loginForm input:focus {
	font-size: 18px;
}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px #f1faee inset;
}

.submitBtn {
	font-size: large;
	font-weight: 700;
	color: #f1faee;
	background-color: #1d3557;
	border-radius: 17px;
	height: 35px;
	margin: auto;
	margin-top: 37px;
	margin-bottom: 37px;
	width: 250px;
}

.linkBtn {
	border: none;
	background-color: #f1faee;
	color: #457b9d;
	font-size: 1em;
	font-weight: 700;
}

.formError {
	color: #e63946;
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 4px;
}

#signInIcon {
	font-size: 150px;
	margin: 15px;
}

/* Food and Notes inputs */

#foodSection {
	grid-area: input;
}

.textInputForm {
	height: 72px;
	padding-top: 6px;
}

@media only screen and (max-width: 500px) {
	.textInputForm {
		width: 70vw;
		margin: auto;
	}
}

.textInput {
	border: 2px solid #1d3557;
	border-radius: 5px;
	height: 25px;
}

@media only screen and (max-width: 500px) {
	.textInput {
		margin: auto;
	}
}

.listTextField {
	margin: auto;
	height: 150px;
	width: 360px;
	overflow-y: scroll;
	overflow-x: hidden;
}

@media only screen and (max-width: 500px) {
	.listTextField {
		width: 90vw;
	}
}

.addSubtractButtons {
	font-size: large;
	font-weight: 700;
	color: #1d3557;
	background-color: #f1faee;
	border: none;
	height: 25px;
	width: 25px;
}

/* Poop counter CSS */

#pottySection {
	grid-area: input;
}

#poopInputContainer {
	display: grid;
	grid-template-rows: 150px 75px;
}
#poopDisplay {
	text-align: center;
	grid-row-start: 1;
	grid-row-end: 2;
}

#poopDisplay P {
	/* display: block; */
	margin: 10px;
}

#poopIcon {
	color: #1d3557;
	font-size: 100px;
}

#countData {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 75px;
	height: 100%;
}

#poopCounterControls {
	grid-row-start: 2;
	grid-row-end: 3;
}

#poopCounterControls button {
	margin: 15px;
}

/* Sleep input section */

#sleepSection {
	grid-area: input;
}

#sleepInputContainer {
	height: 226px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
}

.addNapBtn {
	/* align-content: center; */
	font-size: large;
	font-weight: 700;
	color: #f1faee;
	background-color: #1d3557;
	border-radius: 15px;
	margin: 0 auto;
	height: 30px;
	width: 35%;
}

.minNapBtn {
	font-size: large;
	font-weight: 700;
	color: #f1faee;
	background-color: #1d3557;
	border-radius: 15px;
	margin: 0 auto;
	height: 30px;
	width: 30%;
}

/* Notes section */

#notesSection {
	grid-area: input;
}

/* User input grid Section */

.userInputNav {
	background-color: #457b9d;
	border-radius: 0px 10px 10px 0px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	grid-area: buttons;
	/* grid-column-start: 2;
	grid-column-end: 3; */
}

@media only screen and (max-width: 500px) {
	.userInputNav {
		/* float: left; */
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 90vw;
		border-radius: 10px 10px 0px 0px !important;
		grid-area: buttons;
		border-bottom: 2px solid #457b9d;
	}
}

#currentDate {
	color: #f1faee;
	font-weight: 800;
	padding: 8px;
}

@media only screen and (max-width: 500px) {
	#currentDate {
		order: 5;
	}
}

.userInputNav button {
	font-size: 18px;
	font-weight: 700;
	color: #f1faee;
	background-color: #1d3557;
	border-radius: 27px;
	display: block;
	height: 50px;
	width: 50%;
	margin: auto;
}

@media only screen and (max-width: 500px) {
	.userInputNav button {
		width: 17.5vw;
		height: 10vw;
		border-radius: 01em;
		margin-top: 0.5em;
	}
}

.userInputNav button:hover {
	font-size: 19px;
}

#closeEditerButton {
	width: 85%;
	height: 30px;
	border-radius: 15px;
}

@media only screen and (max-width: 500px) {
	#closeEditerButton {
		order: 10;
		margin-top: 0;
		margin-bottom: 0.5em;
	}
}

/* color scheme
red: E63946
white: F1FAEE
light blue: A8DADC
med blue: 457B9D
dark blue: 1D3557
*/

/* Table CSS */

#tableContainer {
}

table {
	margin: auto;
	border-collapse: collapse;
	box-shadow: 4px 4px 2px 1px rgba(29, 53, 87, 0.2);
	width: 700px;
}

th {
	color: #f1faee;
	background-color: #1d3557;
}
th,
td {
	height: 35px;
	text-align: left;
	padding: 4px;
	border: 1px solid #1d3557;
}

th {
	text-transform: capitalize;
}

tr:nth-child(even) {
	background-color: #f1faee;
}

tr:nth-child(odd) {
	background-color: #a8dadc;
}

.editTD {
	text-align: center;
}

.editButton {
	border: none;
	color: #1d3557;
	background-color: inherit;
	font-size: 20px;
}

.editButton:hover {
	font-size: 21px;
}

@media screen and (max-width: 500px) {
	.dataTable {
		display: block;
		width: 100vw;
		margin: 1em 0;
		overflow-x: hidden;
	}

	.dataTable thead,
	.dataTable tbody,
	.dataTable thead tr,
	.dataTable th {
		display: block;
	}

	.dataTable thead {
		float: left;
		position: fixed;
	}

	.dataTable tbody {
		width: auto;

		position: relative;
		overflow-x: auto;
	}

	.dataTable td,
	.dataTable th {
		display: flex;
		width: 7em;
		height: 4em;
		padding: 0.625em;
		line-height: 1.5em;
		border-bottom: 1px solid #ccc;
		box-sizing: border-box;
		overflow-x: hidden;
		overflow-y: hidden;
	}

	.dataTable th {
		text-align: left;
		background: #1d3557;
		border-bottom: 1px solid #aaa;
	}

	.dataTable tbody tr {
		display: table-cell;
	}

	.dataTable tbody td {
		display: block;
	}

	.dataTable tr:nth-child(odd) {
		background: #a8dadc;
	}

	.dataTable tr {
		height: 20em;
	}

	.dataTable tr:first-of-type {
		/* position: absolute; */
		position: sticky;
		top: 0;
		left: 0;
	}
	.dataTable tr:nth-child(2) {
		margin-left: 7em;
	}
}
/* Modal */

#modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 300px;
	width: 400px;
	text-align: center;
	background-color: #f1faee;
	border: 2px solid #1d3557;
	border-radius: 10px;
	box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 500px) {
	#modal {
		width: 70vw !important;
	}
}

#modalHeader {
	background-color: #1d3557;
	color: #f1faee;
	font-size: 20px;
	padding-top: 10px;
	padding-left: 10px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	text-transform: capitalize;
}

#modalDate {
	text-align: start;
}

#modalCloseBtn {
	position: absolute;
	top: 10px;
	right: 10px;
	height: 22px;
	width: 22px;
	border: none;
	border-radius: 12px;
	background-color: #f1faee;
	color: #e63946;
	font-size: 18px;
}

#modalCloseBtn .svg-inline--fa {
	vertical-align: middle;
}

#modalCloseBtn:hover {
	color: #e41526;
	font-size: 19px;
}

#modalBody {
	display: grid;
	grid-template-rows: 60px 174px;
}

#itemCount {
	display: flex;
	align-items: center;
	justify-content: center;
}

#itemList {
	display: flex;
	align-items: center;
	width: 70%;
	margin: auto;
}

#modalWrapper {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 2;
	overflow: auto;
}

#footer {
	color: #0c1624;
	padding-top: 1em;
	padding-bottom: 1em;
	text-align: center;
	width: auto;
}
