/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ol, ul {
	list-style: none;
}

html {
    height: 100%;
}

body {
    font-family: Helvetica, Candara;
}

/* color scheme
red: E63946
white: F1FAEE
light blue: A8DADC
med blue: 457B9D
dark blue: 1D3557
*/

/* Reusable CSS */

.App-header {
    color: #F1FAEE;
    background-color: #1d3557;
    position: relative;
}

.App-header h1 {
    display: inline;
    text-align: left;
}

.container {
    margin:  16px auto;
    width: 600px;
    height: 300px;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 4px 4px 2px 1px rgba(29, 53, 87, .2);
    display: grid;
    grid-template-columns: 400px 200px;
}

.sectionHeader {
    color: #F1FAEE;
    background-color: #457B9D;
    border-top-left-radius: 10px;
}

.errorMessage {
    font-weight: 700;
    color: #E63946;
}

.saveButton {
    align-content: center;
    margin:auto;
    font-size: large;
    font-weight: 700;
    color: #F1FAEE;
    background-color: #1D3557;
    border-radius: 15px;
    height: 30px;
    width: 35%;
    grid-row-start: 2;
    grid-row-end: 3;
}

.mainCardInput {
    background-color: #F1FAEE;
    border-bottom-left-radius: 10px;
    height: 261px;
    display: grid;
    grid-template-rows: 226px 35px;
}

.textInputContainer, 
#poopInputContainer, 
#sleepInputContainer {
    grid-row-start: 1;
    grid-row-end: 2;
}

/* Food and Notes inputs */

.textInputForm {
    height: 72px;
    padding-top: 6px;
}

.textInput {
    border: 2px solid #1D3557;
    border-radius: 5px;
    height: 25px;
}

.listTextField {
    margin: auto;
    height: 150px;
    width: 360px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.addSubtractButtons {
    font-size: large;
    font-weight: 700;
    color: #1D3557;
    background-color: #F1FAEE;
    border: none;
    height: 25px;
    width: 25px;
}

/* Poop counter CSS */

#poopInputContainer {
    display: grid;
    grid-template-rows: 150px 75px;
}
#poopDisplay {
    text-align: center;
    grid-row-start: 1;
    grid-row-end: 2;
}

#poopDisplay P{
    /* display: block; */
    margin: 10px;
}

#poopIcon {
    color: #1d3557;
    font-size: 100px;
}

#countData {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 75px;
    height: 100%;
}

#poopCounterControls{
    grid-row-start: 2;
    grid-row-end: 3;
}

#poopCounterControls button {
    margin: 15px;
}

/* Sleep input section */

#sleepInputContainer{
    height: 226px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.addNapBtn {
    /* align-content: center; */
    font-size: large;
    font-weight: 700;
    color: #F1FAEE;
    background-color: #1D3557;
    border-radius: 15px;
    margin: 0 auto;
    height: 30px;
    width: 35%;
}

.minNapBtn {
    font-size: large;
    font-weight: 700;
    color: #F1FAEE;
    background-color: #1D3557;
    border-radius: 15px;
    margin: 0 auto;
    height: 30px;
    width: 30%;
}


/* User input grid Section */

.userInputNav {
    background-color: #457B9D;
    border-radius: 0px 10px 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    grid-column-start: 2;
    grid-column-end: 3;
}

#currentDate {
    color: #F1FAEE;
    font-weight: 800;
    padding: 8px;
}

.userInputNav button {
    font-size: large;
    font-weight: 700;
    color: #F1FAEE;
    background-color: #1D3557;
    border-radius: 27px;
    display: block;
    height: 50px;
    width: 50%;
    margin: auto;
}

/* color scheme
red: E63946
white: F1FAEE
light blue: A8DADC
med blue: 457B9D
dark blue: 1D3557
*/

/* Table CSS */

#tableContainer {
}

table {
    margin: auto;
    border-collapse: collapse;
    box-shadow: 4px 4px 2px 1px rgba(29, 53, 87, .2);
    width: 70%;
}

th {
    color: #F1FAEE;
    background-color: #1D3557;

}
th, td {
    text-align: left;
    padding: 4px;
    border: 1px solid #1D3557;
}

tr:nth-child(odd) {
    background-color: #A8DADC;
}

